@mixin button-dynamic-padding(
  $vertical,
  $horizontal,
  $hover-offset-left,
  $hover-offset-right
) {
  padding: $vertical $horizontal !important;

  &:hover {
    padding: $vertical #{$horizontal + $hover-offset-right $vertical} #{$horizontal +
      $hover-offset-left} !important;
  }
}

@mixin button-with-arrow($hover-offset: 0) {
  position: relative;

  &::after {
    display: inline-block;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    font-size: 1.2em;

    opacity: 0;

    @content;
  }

  &:hover::after {
    opacity: 1;
    transform: translate($hover-offset, -50%);
  }
}
