@import 'precision';

@mixin cols($map, $col-selector: '&__col', $start-full: true) {
  @if ($start-full) {
    #{$col-selector} {
      width: 100%;
    }
  }

  @each $breakpoint, $cols in $map {
    @media #{$breakpoint} {
      @at-root #{$col-selector} {
        @if type-of($cols) == list {
          $count: length($cols);
          @for $i from 1 through $count {
            &:nth-child(#{$count}n + #{$i}) {
              width: precision(nth($cols, $i), 2);
            }
          }
        } @else {
          width: precision((1 / $cols) * 100%, 2);
        }
      }
    }
  }
}
