@mixin container-padding($width, $max-width, $sides) {
  $vw-threshold: round($max-width * 100vw / $width);

  @each $side in $sides {
    padding-#{$side}: (100vw - $width) / 2;
  }

  @media (min-width: $vw-threshold) {
    @each $side in $sides {
      padding-#{$side}: calc((100vw - #{$max-width}) / 2);
    }
  }
}
