@import '~utils/rem';

@mixin offset-cols($offset-h, $offset-v, $col-selector) {
  $offset-h-half: $offset-h / 2;
  $offset-v-half: $offset-v / 2;

  margin-top: rem(-$offset-v-half) !important;
  margin-bottom: rem(-$offset-v-half) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  #{$col-selector} {
    width: calc(50% + #{rem($offset-h-half)}) !important;
    position: relative;

    &:first-child {
      margin-right: rem(-$offset-h-half);
      transform: translateY(rem($offset-v-half));
    }

    &:last-child {
      margin-left: rem(-$offset-h-half);
      transform: translateY(rem(-$offset-v-half));
    }
  }
}
