@import 'em';

@function vw($direction, $value) {
  @if $direction == min {
    @return '(min-width: ' + em($value + 1) + ')';
  }
  @if $direction == max {
    @return '(max-width: ' + em($value) + ')';
  }
  @error 'Invalid direction value: ' + $direction;
}
