@import '~theme/font-size';
@import 'atomic/color';

.divi-form_hide-checkboxes-group-title {
  .et_pb_contact_field_options_title {
    display: none;
  }
}

.no-pointer-events {
  pointer-events: none;
}

.color-white {
  color: white !important;
}

.font-size-regular-sm {
  @include theme-font-size-regular-sm;
}
