@import '~theme/button';
@import '~utils/sr-only';

#page-container .btn-transparent,
#page-container .divi-buttons_btn-transparent .et_pb_button {
  @include theme-button-transparent;
}

#page-container .btn-secondary,
#page-container .divi-buttons_btn-secondary .et_pb_button {
  @include theme-button-secondary;
}

.sr-only {
  @include sr-only;
}
