@import '~theme/color';
@import '~theme/font-family';
@import '~theme/font-size';
@import '~utils/rem';

body {
  max-width: 100vw;
  overflow-x: hidden;
  @include theme-font-size-regular-md;
  @include theme-font-family-base;
  line-height: 1.5;
  color: $theme-color-dark;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: inherit;
  }
}
