@import '~theme/color';
@import '~theme/font-size';

.wpcf7 {
  input[type='text'],
  input[type='email'],
  textarea {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 1px solid $theme-color-light !important;
    padding: 1rem;
    resize: none;
    @include theme-font-size-regular-sm;
    color: $theme-color-dark;

    &:empty {
      color: $theme-color-gray;
    }

    &:focus {
      border-color: $theme-color-lightgray !important;
    }
  }

  button {
    display: block;
    width: 100%;

    #page-container#page-container & {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
  }
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.wpcf7-response-output {
  margin: 1rem 0 0 !important;
  border: none !important;
  padding: 0 !important;
  font-size: 14px;
}
