@import '~theme/color';

.tfo_contactIcon {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  box-shadow: 0 0 10px rgba(#000, 0.2);
  background-color: $theme-color-primary;
  color: white;
  transition: 0.3s;

  position: relative;
  > span {
    display: inline-block;
    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.75rem;
    color: inherit;

    &::before {
      display: inline-block;
      transform: translate(5%, 6%);
      transition: 0.3s;
    }
  }

  &:hover {
    background-color: white;
    > span::before {
      color: $theme-color-primary;
    }
  }
}
