@import '~utils/em';
@import '~utils/rem';

.tfo_contactWidget {
  @media (max-height: em(600px)) {
    display: none;
  }

  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 100000;

  &__icon {
    cursor: pointer;
  }

  &__content {
    // Position
    position: absolute;
    right: 0;
    bottom: calc(100% + 1rem);

    // Constant settings
    max-width: 80vw;
    width: 300px;
    box-shadow: 0 0 10px rgba(#000, 0.2);
    background-color: #fff;

    // Hide
    height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
  }

  &--active &__content {
    height: auto;
    padding: 1rem;
    opacity: 1;
  }
}
