@import '~theme/font-size';

#main-header {
  box-shadow: none;
}

.et-pb-contact-message p:only-child {
  @include theme-font-size-heading-md;
  font-weight: bold;
}

.et_pb_button {
  cursor: pointer;
}

.et_pb_contact_select {
  padding: 16px 26px 16px 16px;
}
