@import '~utils/rem';

.downloadForm {
  label {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }

  input[type='password'] {
    margin-bottom: 1rem;
    padding: rem(24px);
    font-family: inherit;
  }

  &__status {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 12em;
    transition: 0.3s;

    &:empty {
      opacity: 0;
    }

    a {
      color: $theme-color-primary !important;
    }
  }

  &--error &__status {
    color: #c10000;
  }
}
