@import '~theme/color';
@import '~theme/container';
@import '~theme/font-size';
@import '~utils/vw';

#footer-info {
  $breakpoint: 768px;

  @include theme-container-sm;
  background-color: $theme-color-dark;
  @include theme-font-size-regular-sm;
  color: white;

  a {
    font-weight: normal;
    color: inherit !important;
  }

  @media #{vw(max, $breakpoint)} {
    & > div:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }

  @media #{vw(min, $breakpoint)} {
    display: flex;
    justify-content: space-between;
  }
}
