@import '~theme/color';
@import '~theme/button';

.wp-block-file {
  a {
    margin: 0 !important;
  }

  a:not(.wp-block-file__button) {
    display: block;
    padding-bottom: 0.5rem;
    color: $theme-color-primary;
  }

  a.wp-block-file__button {
    display: inline-block;
    @include theme-button-secondary;
  }
}
