@import '~theme/color';
@import '~utils/divi-top-nav-breakpoint';
@import '~utils/em';

@include divi-top-nav-breakpoint(1150px);

#et-top-navigation {
  a {
    color: $theme-color-dark !important;
    text-transform: uppercase;
  }
}
