@import 'color';
@import 'font-size';
@import '~utils/button';
@import '~utils/rem';

@mixin theme-button {
  $transition: 0.3s;
  $hover-offset: 8px;

  @include button-dynamic-padding(
    $vertical: rem(22px),
    $horizontal: rem(27px),
    $hover-offset-left: rem(-$hover-offset),
    $hover-offset-right: rem($hover-offset)
  );

  @include button-with-arrow($hover-offset: 6px) {
    font-family: ETmodules;
    content: '9';
    transition: $transition;
  }

  @include theme-font-size-regular-sm;

  min-width: rem(200px);
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: $transition !important;
}

@mixin theme-button-transparent {
  @include theme-button;
  border: 1px solid $theme-color-lightgray !important;
  background-color: transparent !important;
  color: $theme-color-gray;
}

@mixin theme-button-dark {
  @include theme-button;
  border: 1px solid $theme-color-dark !important;
  background-color: $theme-color-dark !important;
  color: white;
}

@mixin theme-button-secondary {
  @include theme-button;
  border: 1px solid $theme-color-secondary !important;
  background-color: $theme-color-secondary !important;
  color: white;
}
