$theme-color-primary: #0088ff;
$theme-color-secondary: #00de6e;
$theme-color-tertiary: #c125d3;
$theme-color-dark: #141414;
$theme-color-light: #f9f9f9;
$theme-color-darkgray: #2c2c2c;
$theme-color-gray: #676767;
$theme-color-lightgray: #b8b8b8;
