$theme-container-width: 80vw;
$theme-container-max-width-md: 1540px;
$theme-container-max-width-sm: 1080px;

@mixin theme-container-md {
  width: $theme-container-width;
  max-width: $theme-container-max-width-md;
}

@mixin theme-container-sm {
  width: $theme-container-width;
  max-width: $theme-container-max-width-sm;
}
