@import '~utils/em';
@import '~utils/rem';
@import '~utils/vw';

@mixin theme-font-size-regular-sm {
  font-size: rem(14px);
}

@mixin theme-font-size-regular-md {
  font-size: rem(16px);
}

@mixin theme-font-size-regular-lg {
  font-size: rem(18px);
}

@mixin theme-font-size-heading-sm {
  font-size: rem(20px);

  @media #{vw(min, 768px)} {
    font-size: rem(24px);
  }
}

@mixin theme-font-size-heading-mdsm {
  font-size: rem(23px);

  @media #{vw(min, 768px)} {
    font-size: rem(30px);
  }
}

@mixin theme-font-size-heading-md {
  font-size: rem(26px);

  @media #{vw(min, 768px)} {
    font-size: rem(36px);
  }
}

@mixin theme-font-size-heading-lg {
  font-size: rem(32px) !important;

  @media #{vw(min, 768px)} {
    font-size: rem(48px) !important;
  }
}

@mixin theme-font-size-jumbo {
  font-size: rem(30px);

  @media #{vw(min, 480px)} {
    font-size: rem(45px);
  }

  @media #{vw(min, 768px)} {
    font-size: rem(60px);
  }
}
