@import '~theme/color';

.bg-light {
  background-color: $theme-color-light;
}

.bg-dark {
  background-color: $theme-color-dark;
}

.bg-primary {
  background-color: $theme-color-primary;
}

.color-white {
  color: white;
}

.strong_color-primary strong {
  color: $theme-color-primary;
}
