@import '~theme/container';
@import '~utils/cols';
@import '~utils/rem';
@import '~utils/gutter';
@import '~utils/vw';

#page-container .counters-row {
  max-width: rem($theme-container-max-width-sm) !important;

  .et_pb_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: none;
  }

  @include cols(
    $map: (
      vw(min, 480px): 2,
      vw(min, 980px): 3
    ),
    $col-selector: '& .et_pb_module'
  );

  @include gutter(
    $gutters: rem(75px),
    $row-selector: '& .et_pb_column',
    $col-selector: '& .et_pb_module'
  );
}
