@import '~theme/font-size';
@import '~utils/rem';

.counters-section {
  h2 {
    @include theme-font-size-heading-md;
  }

  .et_pb_module_header {
    @include theme-font-size-heading-mdsm;
    font-weight: bold;
    padding-bottom: rem(30px);
  }

  .et_pb_blurb_description {
    @include theme-font-size-regular-lg;
  }
}
