@import '~theme/font-size';
@import '~utils/rem';
@import '~utils/vw';

.double-section {
  $columns-breakpoint: 1250px;
  $button-row-breakpoint: 480px;
  $gutter-h: rem(30px);
  $gutter-v: 1rem;

  @media #{vw(max, $columns-breakpoint)} {
    .et_pb_row {
      display: block;
    }

    .et_pb_column {
      float: none !important;
      width: 100% !important;
      margin: 0 !important;

      &:first-of-type {
        padding-bottom: $gutter-v;
      }
    }
  }

  h2 {
    @include theme-font-size-heading-lg;
    padding-bottom: 1rem;
    font-weight: 800 !important;
  }

  .et_pb_promo {
    margin-bottom: 0 !important;
  }

  .et_pb_promo_description {
    padding-bottom: 1.5rem;
    @include theme-font-size-regular-lg;
  }

  .et_pb_button_module_wrapper {
    display: inline-block;
    margin-bottom: $gutter-v;
    margin-right: $gutter-h;
  }

  @media #{vw(min, $columns-breakpoint)} {
    &--inverted {
      .et_pb_column:first-child {
        order: 1;
        margin-right: 0;
      }

      .et_pb_gutters3 > .et_pb_column:first-child {
        margin-left: 5.5%;
      }

      .et_pb_column:last-child {
        order: 0;
        margin-left: 0;
      }

      .et_pb_gutters3 > .et_pb_column:last-child {
        margin-right: 5.5%;
      }
    }
  }
}
