@import '~theme/container';
@import '~utils/cols';
@import '~utils/rem';
@import '~utils/gutter';
@import '~utils/vw';

#page-container .functionalities-row {
  max-width: rem($theme-container-max-width-sm) !important;

  .et_pb_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: none;
  }

  @include cols(
    $map: (
      vw(min, 480px): 2,
      vw(min, 768px): 3,
      vw(min, 1100px): 4
    ),
    $col-selector: '& .et_pb_module'
  );

  @include gutter(
    $gutters: rem(75px),
    $row-selector: '& .et_pb_column',
    $col-selector: '& .et_pb_module'
  );

  // Align text block tops vertically
  .et_pb_main_blurb_image {
    display: flex;
    align-items: center;

    // Assumed maximum image height
    height: rem(71px);
  }
}
