@import '~theme/button';
@import '~theme/font-size';
@import '~utils/em';
@import '~utils/vw';

.hero {
  $padding-top-full: 120px;
  $buttons-breakpoint: 768px;

  background-position: top;

  .et_pb_fullwidth_header_container {
    padding-top: rem($padding-top-full / 2);

    @media #{vw(min, 1800px)} {
      padding-top: rem($padding-top-full);
    }
  }

  .et_pb_module_header {
    @include theme-font-size-jumbo;
    font-weight: bolder;
  }

  .et_pb_fullwidth_header_subhead {
    @include theme-font-size-heading-sm;
    font-weight: lighter;
  }

  .header-content-container {
    align-self: flex-start !important;
  }

  .header-content {
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
  }

  @media (max-height: #{em(799px)}) {
    .et_pb_fullwidth_header_scroll {
      display: none !important;
    }
  }

  @media #{vw(max, 980px)} {
    $padding: 2rem;

    .et_pb_fullwidth_header_container {
      height: auto;
      padding-bottom: $padding;
    }

    .header-content-container {
      margin-left: -$padding !important;
      margin-right: -$padding !important;
    }

    .header-content {
      padding: $padding !important;
      border: 1px solid $theme-color-lightgray;
      background-color: rgba(#fff, 0.8);
    }
  }

  .et_pb_button {
    @media #{vw(max, $buttons-breakpoint)} {
      display: block !important;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .et_pb_button_one {
    @include theme-button-transparent;

    @media #{vw(min, 980px)} and #{vw(max, 1250px)} {
      background-color: rgba(#fff, 0.8) !important;
    }
  }

  .et_pb_button_two {
    @include theme-button-secondary;

    @media #{vw(max, $buttons-breakpoint)} {
      margin-left: 0 !important;
    }
  }

  .et_pb_fullwidth_header_scroll .et-pb-icon {
    color: $theme-color-primary !important;
  }
}
