@import '~theme/container';
@import '~theme/color';
@import '~theme/font-size';
@import '~utils/rem';

.how-to-start-section {
  background-color: $theme-color-dark;
  color: white;

  h2 {
    padding-bottom: rem(55px);
    @include theme-font-size-heading-md;
    color: inherit;
  }

  .et_pb_row {
    max-width: rem($theme-container-max-width-sm) !important;
  }

  .et_pb_module {
    margin-bottom: 0;
  }

  .et_pb_text_inner {
    @include theme-font-size-regular-lg;
  }
}
