@import '~theme/button';
@import '~theme/color';
@import '~theme/container';
@import '~theme/font-size';
@import '~utils/rem';
@import '~utils/vw';

$mid-cta-breakpoint: 768px;

.mid-cta {
  position: relative;
  z-index: 10;
  background-color: $theme-color-primary;

  .et_pb_column {
    display: flex;
    align-items: center;
    background-color: $theme-color-primary;

    @media #{vw(max, $mid-cta-breakpoint)} {
      flex-direction: column;
      padding-top: rem(35px);
      padding-bottom: rem(35px);
    }

    @media #{vw(min, $mid-cta-breakpoint)} {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: rem($theme-container-max-width-sm);
      padding: rem(70px) rem(64px);
    }
  }

  .et_pb_module {
    margin: 0 !important;

    @media #{vw(max, $mid-cta-breakpoint)} {
      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
  }

  .et_pb_image {
    margin-right: 1rem !important;
  }

  .et_pb_text {
    justify-self: flex-start;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    @media #{vw(min, $mid-cta-breakpoint)} {
      margin-right: auto !important;
    }
  }

  h2 {
    padding-bottom: 0;
    @include theme-font-size-heading-mdsm;
    text-align: center !important;
    color: white;
  }

  .et_pb_button {
    @include theme-button-dark;
  }
}
