@import '~theme/container';
@import '~theme/font-size';
@import '~utils/container-padding';
@import '~utils/offset-cols';
@import '~utils/rem';

.offset-cols {
  $inner-breakpoint-1: 480px;
  $inner-breakpoint-2: 1400px;
  $outer-breakpoint: 1100px;

  padding-top: 0;
  padding-bottom: 0;

  // Base
  .et_pb_column {
    padding-top: rem(75px) !important;
    padding-bottom: rem(75px) !important;
  }

  .et_pb_blurb_content {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .et_pb_main_blurb_image {
    width: 60px;
  }

  .et_pb_module_header {
    @include theme-font-size-heading-mdsm;
    padding-bottom: 1em;
    line-height: 1.2;
  }

  .et_pb_module_description {
    @include theme-font-size-regular-sm;
  }

  // Single-column layout
  @media #{vw(max, $outer-breakpoint)} {
    display: block !important;

    .et_pb_column {
      display: block;
      float: none;
      width: 100% !important;
    }

    .et_pb_blurb_content {
      @include theme-container-md;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Two-column layout
  @media #{vw(min, $outer-breakpoint)} {
    @include offset-cols(30px, 20px, '& .et_pb_column');

    .et_pb_column {
      $padding-inner: 94px;

      &:first-child {
        z-index: 10;

        .et_pb_blurb_content {
          @include container-padding(
            $theme-container-width,
            $theme-container-max-width-sm,
            left
          );
          padding-right: $padding-inner;
        }
      }

      &:last-child {
        .et_pb_blurb_content {
          padding-left: $padding-inner;
          @include container-padding(
            $theme-container-width,
            $theme-container-max-width-sm,
            right
          );
        }
      }
    }
  }

  // Image above text
  @media #{vw(max, $inner-breakpoint-1)},
    #{vw(min, $outer-breakpoint)} and #{vw(max, $inner-breakpoint-2)} {
    .et_pb_column {
      padding-top: 4rem !important;
    }

    .et_pb_main_blurb_image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2.5rem;
    }

    .et_pb_blurb_container {
      padding-left: 0;
      text-align: center !important;
    }
  }
}
