@import '~theme/color';
@import '~theme/font-size';
@import '~utils/rem';

.et_pb_pricing_table_wrap {
  align-items: stretch;
}

#page-container .et_pb_pricing_table {
  $featured-offset: 30px;

  display: flex;
  flex-direction: column;
  border: none;
  padding: rem(50px) rem(45px);
  background-color: $theme-color-light;
  color: $theme-color-dark;

  @media #{vw(max, 980px)} {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 0 30px !important;
  }

  @media #{vw(max, 480px)} {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .et_pb_pricing_heading {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .et_pb_pricing_title {
    padding-bottom: 0;
    @include theme-font-size-regular-lg;
    font-weight: bold;
  }

  &:first-child .et_pb_pricing_title {
    color: $theme-color-secondary;
  }

  &:last-child .et_pb_pricing_title {
    color: $theme-color-tertiary;
  }

  .et_pb_pricing_content_top {
    padding-bottom: 0;
    border: none;
  }

  .et_pb_et_price,
  .et_pb_sum {
    @include theme-font-size-jumbo;
    font-weight: bold;
    color: inherit !important;
  }

  .et_pb_pricing_content {
    padding-left: 0;
    padding-right: 0;
  }

  .et_pb_pricing {
    text-align: center;
    @include theme-font-size-regular-sm;

    & > li {
      $separator: 1px solid #e3e3e3;

      border-top: $separator;

      &:last-child {
        border-bottom: $separator;
      }

      padding: 1rem;

      @media #{vw(max, 480px)} {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  .et_pb_button_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &.et_pb_featured_table {
    margin-bottom: rem(-$featured-offset);
    background-color: $theme-color-primary;
    color: white;

    .et_pb_pricing_heading {
      padding-top: $featured-offset;
    }

    .et_pb_button_wrapper {
      padding-bottom: $featured-offset;
    }

    .et_pb_pricing > li {
      border-color: #71b5f0;
    }
  }
}

.et_pb_pricing del {
  visibility: hidden;
}
