@import '~theme/color';
@import '~theme/font-size';
@import '~utils/cols';
@import '~utils/em';
@import '~utils/gutter';
@import '~utils/order-items';
@import '~utils/rem';
@import '~utils/sphere';
@import '~utils/vw';

.ol_step-list ol {
  $breakpoint-2: 480px;
  $breakpoint-3: 980px;
  $breakpoint-5: 1100px;
  $gutter: 75px;
  $number-of-items: 5;
  $sphere-size: 100px;
  $sphere-size-rem: rem($sphere-size);
  $arrow-h-offset-top: rem($gutter / 2 + $sphere-size / 2);

  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media #{vw(min, $breakpoint-3)} and #{vw(max, $breakpoint-5)} {
    justify-content: flex-end;
  }

  @include cols(
    $map: (
      vw(min, $breakpoint-2): 2,
      vw(min, $breakpoint-3): 3,
      vw(min, $breakpoint-5): 5
    ),
    $col-selector: '& > li'
  );

  @include gutter(rem($gutter), $row-selector: &, $col-selector: '& > li');

  text-align: center;
  color: white;
  counter-reset: step-list;

  & > li {
    position: relative;
    @include theme-font-size-regular-lg;

    // Sphere with number
    &::before {
      counter-increment: step-list;
      content: counter(step-list);

      display: block;
      @include sphere($sphere-size-rem);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
      line-height: $sphere-size-rem;

      @include theme-font-size-heading-md;
      font-weight: lighter;
      font-style: italic;
      background-color: $theme-color-primary;
    }

    // Order
    @media #{vw(min, $breakpoint-2)} and #{vw(max, $breakpoint-3)} {
      @include order-items((1, 2, 4, 3, 5));
    }

    @media #{vw(min, $breakpoint-3)} and #{vw(max, $breakpoint-5)} {
      @include order-items((1, 2, 3, 5, 4));
    }

    // Arrows
    &:not(:last-child) {
      &::after {
        display: block;
        position: absolute;
        font-family: ETmodules;
        font-size: 30px;

        content: '\22';
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media #{vw(min, $breakpoint-2)} and #{vw(max, $breakpoint-3)} {
        &:nth-child(1)::after {
          content: '\24';
          top: $arrow-h-offset-top;
          left: 100%;
        }

        &:nth-child(3)::after {
          content: '\23';
          top: $arrow-h-offset-top;
          left: 0;
        }
      }

      @media #{vw(min, $breakpoint-3)} and #{vw(max, $breakpoint-5)} {
        &:nth-child(-n + 2)::after {
          content: '\24';
          top: $arrow-h-offset-top;
          left: 100%;
        }

        &:nth-child(6n + 4)::after {
          content: '\23';
          top: $arrow-h-offset-top;
          left: 0;
        }
      }

      @media #{vw(min, $breakpoint-5)} {
        &:not(:last-child)::after {
          content: '\24';
          top: $arrow-h-offset-top;
          left: 100%;
        }
      }
    }
  }
}
