@import '~theme/color';
@import '~theme/font-size';
@import '~utils/rem';
@import '~utils/vw';

.et_pb_team_member {
  @media #{vw(max, 768px)} {
    width: auto !important;
  }
}

.et_pb_team_member_image {
  margin-bottom: 0 !important;
}

.et_pb_module_header {
  @include theme-font-size-heading-sm;
  font-weight: bold;
  padding-bottom: rem(4px);
}

.et_pb_member_position {
  color: $theme-color-primary;
}

.et_pb_team_member_description {
  padding: rem(30px) rem(20px);

  .et_pb_module_header {
  }
}

.et_pb_member_social_links {
  margin-top: rem(24px) !important;

  .et_pb_font_icon {
    color: $theme-color-darkgray;

    &:hover {
      color: $theme-color-primary;
    }
  }
}
