@import '~theme/container';
@import '~utils/cols';
@import '~utils/rem';
@import '~utils/gutter';
@import '~utils/vw';

#page-container .testimonials-row {
  max-width: $theme-container-max-width-sm;

  .et_pb_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: none;
  }

  @include cols(
    $map: (
      vw(min, 768px): 2,
      vw(min, 1400px): 4
    ),
    $col-selector: '& .et_pb_module'
  );

  @include gutter(
    $gutters: rem(64px),
    $row-selector: '& .et_pb_column',
    $col-selector: '& .et_pb_module'
  );
}
