@import '~theme/font-size';
@import '~utils/rem';
@import '~utils/vw';
@import 'mid-cta';

.testimonials-section {
  padding-top: rem(128px) !important;
  padding-bottom: rem(64px) !important;

  @media #{vw(min, $mid-cta-breakpoint)} {
    padding-bottom: rem(240px) !important;
  }

  h2 {
    @include theme-font-size-heading-mdsm;
    padding-bottom: 2rem;
  }

  .et_pb_module {
    margin-bottom: 0 !important;
  }

  .et_pb_testimonial_portrait {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: rem(30px) !important;
  }

  .et_pb_testimonial_description {
    @include theme-font-size-regular-sm;
    margin-left: 0 !important;
  }
}
